name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy backend to server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_IP }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          username: ubuntu
          port: 22
          script: |
            cd ~/bloodBackend

            git pull origin main

            source venv/bin/activate

            pip install -r requirements.txt

            python manage.py migrate

            sudo systemctl restart django-app.service
