name: Frontend CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3


      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Deploy React Frontend
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SSH_PRIVATE_KEY }}
          username: ubuntu
          key: ${{ secrets.SERVER_IP }}
          port: 22
          script: |
            cd ~/blood-donor-app
            git pull origin main
            npm install
            sudo systemctl restart react-app.service
